* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

// COLORS ===============
@Pink: hsl(322, 100%, 66%);
@title-and-subtitle: hsl(192, 100%, 9%);
@bg-footer: hsl(192, 100%, 9%);

//  MIXINS
// FLEXBOX
.flexbox-directions {
    display: flex;
    flex-direction: column;
}

.flexbox-direction-responsive {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.flexbox-align {
    display: flex;
    align-items: center;
}

// GERAL PAGE ===============

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;

    // 400 - 600 - 700
}

button {
    background-color:@Pink ;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 16px 68px;
    font-weight: 700;
    cursor: pointer;

}

h1, h2, h3 {
    color: @title-and-subtitle;
}

//HEADER 

header {
    .flexbox-align();
    justify-content: space-between;
    padding: 20px 60px;

    img {
        width: 200px;
    }

    .navbar {
        li {
            border: 1px solid @Pink;
            color: @Pink;
            padding: 8px 26px;
            border-radius: 25px;
        }
        
        a {
            text-decoration: none;
        }
    }
}

// MAIN

main {
    padding: 0 100px;

    .textMain {
        text-align: center;
        margin: 150px 0 75px 0;

        h1 {
            font-size: 46px;
            font-weight: 700;
            margin-bottom: 35px;
        }

        p {
            width: 475px;
            margin: 0 auto 35px;
            

        }
    }

    .vetor {
        display: flex;
        margin: auto;
        width: 800px;
    }

    .datas {
        display: flex;
        margin: 50px auto;
        justify-content: space-evenly;

        h2 {
            font-size: 68px;
        }

        p {
            text-align: center;
        }
    }

    .cases {
        margin: 200px auto;

        h2 {
            font-size: 32px;
            margin-bottom: 20px; 
        }


        img {
            width: 500px;
        }

        .info-case {
            display: block;
        }

        .case1 {
            .flexbox-align();
            justify-content: space-around;

            p {
                width: 500px;
            }
        }

        .case2 {
            .flexbox-align();
            justify-content: space-around;

            p {
                width: 512px;
            }
        }

        .case3 {
            .flexbox-align();
            justify-content: space-around;

            p {
                width: 500px;
            }
        }
    }

    .communities {
        text-align: center;
        margin-bottom: 75px;

        h2 {
            font-size: 38px;
            margin-bottom: 30px;
        }
    }

}

// FOOTER 

footer {

    .info-footer {
        .flexbox-directions();
    }

    .bg-footer {
        width: 100%;
    }

    .infos {
        background-color: @bg-footer;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        padding: 100px 100px 50px;
    }

    .contact {
        padding: 0 100px;

        .flexbox-directions();
        gap: 30px;

        p {
            width: 300px;
            color: white;
            font-weight: 400;
            font-size: 14px
        }

        .info-contact {
            .flexbox-directions();
            gap: 20px;
            color: white;
            font-weight: 400;
        }
    }

    .newsletter {
        .flexbox-directions();
        gap: 20px;

        h3 {
            color: white;
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
        }

        p {
            width: 310px;
            color: white;
            font-size: 14px;
        }

        input {
            width: 250px;
            height: 44px;
            padding-left: 5px;
            border-radius: 5px;
            border: none;
            margin-right: 25px;
        }

        button {
            padding: 14px 58px;
            border-radius: 5px;
        }
    }

    .copyright {
        .flexbox-align();
        justify-content: space-evenly;
        padding: 20px;
        background-color: @bg-footer;
        color: white;

        p {
            .flexbox-align();
            gap: 10px;
        }
    }
}

// Responsive

@media (min-width: 1024px) {

}

@media (min-width: 768px) {
    main {
        .cases {

            .case1, .case3 {
                .flexbox-direction-responsive();
            }

            .case2 {
                margin: 50px auto;
                .flexbox-directions();
                gap: 50px;
                flex-direction: column-reverse;
            }

            img {
                width: 400px;
            }

        } 
    } 
}

@media (min-width: 425px) {

}




